[Unit]Description=Network Time Service (one-shot ntpdate mode)Requires=network.targetBefore=ntpd.service[Service]Type=oneshotExecStart=/usr/bin/ntpdate pool.ntp.orgRemainAfterExit=yes 